@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Klein";
  src: url("../fonts/klein/Klein-Text-Book-trial.ttf") format("truetype");
}

@font-face {
  font-family: "Klein-italic";
  src: url("../fonts/klein/Klein-ExtraLight-Italic-trial.ttf")
    format("truetype");
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
}

.glass {
  background: rgba(28, 210, 245, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.glass-1 {
  background: rgba(28, 210, 245, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 125px;
  height: 125px;
}


.glass-2 {
  background: rgba(28, 210, 245, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
  display: inline;
  position: relative;
  text-decoration: none;
}

a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 0%;
  left: 0px;
  height: 2px;
  transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
  background: #7bf600;
}

a:hover:after {
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #E8F73A,
    0 0 82px #E8F73A,
    0 0 92px #E8F73A,
    0 0 102px #E8F73A,
    0 0 151px #E8F73A;
}